header {
    background-image: linear-gradient(0deg, #d0cfd7 0%, #eeeef0 34%, #fafafa 100%);
    padding-bottom: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
}

.header-content {
    text-align: center;
    width: 40%;
}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
}

.header-content h1 span {
    color: #4abfa8;
    font-weight: bold;
}

.header-content p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 28px;
}

button {
    padding: 12px 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    box-shadow: none;
    background-color: #4abfa8;
    outline: none;
    cursor: pointer;
}

.slider-button {
    height: 160px;
    width: 40px;
    background-color: transparent;
    padding-bottom: 45px;
}

i {
    border: solid #4abfa8;
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider img {
    height: 100%;
    width: 100%;
}