.product-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.product-item {
    height: 220px;
    width: 330px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}

.product-item:hover .product-item-box {
    transition: top 1s;
    top: 100%;
}

.product-item:last-of-type {
    margin-right: 0px;
}

.product-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-item-box {
    position: absolute;
    top: 65%;
    width: 100%;
    padding: 17px 0 30px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.product-item-title {
    margin: 0;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.product-item-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 43%;
    height: 6px;
    background-color: #4abfa8;
}

.product-item-description {
    position: absolute;
    top: -120%;
    height: 171px;
    width: 313px;
    padding: 17px 0 30px 15px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.14);
}

.product-item:hover .product-item-description {
    transition: top 1s;
    top: 0%;
}